body {
    min-height: 100vh;
    width: 100%; 
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: min(50px);
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.footer {
  
}